.container{
    width: 400px;
    border: 1px solid aqua;
    padding:0 10px ;
}
#form{
    width: 100%;
}
.r{
    display: flex;
    width: 100%;
}
.r b{
    width: 30%;
}
.r input{
    flex:1;
}
table {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    border: 1px solid black;
}